* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	text-decoration: none;
	cursor: pointer;
}

h1, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1 {
	font-size: 78px;
	margin: 0 auto;
	padding-top: 40px;

}

h3 {
	font-size: 28px;
	margin: 0 auto;
}

h4 {
	font-size: 15px;
	margin: 0 auto;
}

h5 {
	font-size: 18px;
	margin: 0 auto;
}

h6 {
	margin: 0 auto;
}

.nav {
	width: 100%;
	height: 185px;
	text-align: center;
}

.nav-text-container {
	width: 100%;
}

.new-item-header {
	margin: 0px 0 15px 0;
}

.new-button {
	width: 150px;
	height: 37px;
	margin: 10px 10px 0 8px;
	border: 1px solid #00AB6B;
	border-radius: 50px;
	margin: 0 auto;
	cursor: pointer;
}

.new-button:hover {
	box-shadow: inset 0 0 4px #00AB6B;
}

.new-button h4 {
	line-height: 37px;
	text-align: center;
}

.enter-new-item {
	width: 240px;
	height: 37px;
	margin: 0px auto;
	border: 1px solid #00AB6B;
	border-radius: 50px;
	text-align: center;
	line-height: 37px;
	color: #333;
	font-family: 'Roboto';
    font-weight: 100;
    font-size: 18px;
}

.form-container {
	width: 100%;
	/*border: 1px solid purple;*/
	text-align: center;
}

.buttons-holder {
	width: 100%;
	margin: 10px auto;
	/*border: 1px solid orange;*/
}

.button{
	width: 70px;
	height: 26px;
	border: 1px solid #7D7D7D;
	border-radius: 50px;
	display: inline-block;
	cursor: pointer;
}

.button:hover{
	box-shadow: inset 0 0 2px #7D7D73;
}

.button h6 {
	font-size: 12px;
	line-height: 26px;
}

.list-container {
	width: 100%;
	text-align: center;
	margin-top: 35px;
}

.panel {
	display: inline-block;
	width: 27%;
	margin: 0 auto;
	text-align: center;
	vertical-align: top;

}

.inner {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	vertical-align: top;
}

.border {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

mod-border {
	border-bottom: none;
}

li {
	text-align: left;
	margin: 10px 10px 12px 70px;
	line-height: 30px;
}

.item-text {
	line-height: 15px;
	text-decoration: none;
	font-family: 'Roboto';
    font-weight: 100;
    font-size: 22px;
}
	

@media (max-width: 1300px){
	li {
		margin: 10px 10px 12px 40px;
	}
}

@media (max-width: 1100px){
	li {
		margin: 10px 10px 12px 20px;
	}
}

@media (max-width: 950px){
	.panel {
		width: 32%;
	}
}

@media (max-width: 900px){
	.panel {
		width: 70%;
		margin-bottom: 25px;
	}
	
	.list-container {
		margin: 40px auto;
	}
	
	li {
		margin: 10px 10px 12px 105px;
	}
	
	.inner {
		width: 75%;

	}
	
	.border {
		border-left: none;
		border-right: none;
		border-bottom: 1px solid #ddd;
	}
	
	.mod-border {
		border-bottom: 1px solid #ddd;
	}
}

@media (max-width: 750px){
	
	li {
		margin: 10px 10px 12px 70px;
	}
}

@media (max-width: 600px){
	.panel {
		width: 80%;
		margin-bottom: 20px;
	}
	
	.inner {
		width: 90%;
	}
	
	li {
		margin: 10px 10px 12px 14px;
	}
}
	